.button[data-v-3b92883e] {
  width: 80px;
  height: 30px;
  border: 1px solid #e0e0e0;
  color: #333;
  border-radius: 4px;
  text-align: center;
  line-height: 28px;
  outline: none;
  cursor: pointer;
  background: #fff;
}
.button[data-v-3b92883e]:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.button__primary[data-v-3b92883e] {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.button__primary[data-v-3b92883e]:hover {
  color: #fff;
  background: #66b1ff;
  border-color: #66b1ff;
}
.button__danger[data-v-3b92883e] {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.button__danger[data-v-3b92883e]:hover {
  color: #fff;
  background: #f78989;
  border-color: #f78989;
}
